<% provide(:title, 'Sign up') %>
<h3>注&nbsp;册</h3>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, "姓名：" %>
        <%= f.text_field :name, class: 'form-control', placeholder: "输入姓名" %>
        <%= f.label :email, "邮箱：" %>
        <%= f.email_field :email, class: 'form-control', placeholder: "输入邮箱" %>
        <%= f.label :major, "专业：" %>
        <%= f.text_field :major, class: 'form-control', placeholder: "输入专业" %>
        <%= f.label :department, "单位：" %>
        <%= f.text_field :department, class: 'form-control', placeholder: "输入培养单位" %>
        <%= f.label :password, "密码：" %>
        <%= f.password_field :password, class: 'form-control', placeholder: "输入密码" %>
        <%= f.label :password_confirmation, "确认密码" %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "确认密码" %>
        <%= f.submit "注册", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>