<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">学期课表</h3>
    </div>
    <div class="panel-body">
        
        <table class="table table-hover table-striped">
        <thead class="thead-light">
            <tr>
            <th>课程名称</th>
            <th>课程编码</th>
            <th>课程属性</th>
            <th>授课方式</th>
            <th>考试方式</th>
            <th>课时/学分</th>
            <th>限选人数</th>
            <th>已选人数</th>
            <th>教室</th>
            <th>星期节次</th>
            <th>授课教师</th>
            </tr>
        </thead>
        <tbody>
            <% @courses.each do |course| %>
                <tr>
                    <td><%=course.name%></td>
                    <td><%=course.course_code%></td>
                    <td><%=course.course_type%></td>
                    <td><%=course.teaching_type%></td>
                    <td><%=course.exam_type%></td>
                    <td><%=course.credit%></td>
                    <td><%=course.limit_num%></td>
                    <td><%=course.student_num%></td>
                    <td><%=course.class_room%></td>
                    <td><%=course.course_week%></td>
                    <td><%=course.teacher.name%></td>
                </tr>
            <% end %>
        </tbody>
        </table>
        <%= will_paginate @courses, :previous_label => '上一页', :next_label => '下一页'%>
    </div>
</div>